html
  head
    style
        include ../public/stylesheets/style.css
        include ../public/stylesheets/all.css
    title= title
  body(style={'background-image': bgUrl})
    div(class='top-bar')
      div(class='right-panel', style={color: theme})
        div(class='fas fa-pencil-alt', id='edit-btn', onclick='window.location.href="/"')
        div(class='fas fa-image', id='wallpapers-btn')
        div(class='fas fa-cog', id='settings-btn')
        div(class='fas fa-plus', id='new-block-btn')
    include new-block.pug
    include settings.pug
    include wallpapers.pug
    include icons.pug
    .blocks-location-wrapper-editor
      #blocks-location-1(ondrop="drop(event)" ondragover="allowDrop(event)")
        div(class='blocks-wrapper', id='blocks-wrapper', draggable="true", ondragstart="drag(event)", style={top: blocksWrapperTop})
          div(class='blocks-main',  style={'flex-direction': blocksWrapperDirection})
              each block in blocks
                  div(class='blocks-single-block' style={
                          width: block.width,
                          background: block.background,
                          border: block.border,
                          'box-shadow': block.boxshadow,
                      })
                      .blocks-single-block-text(onclick=block.link)= block.text
                        img(class='blocks-single-block-icon' , src=block.icon, style={width: iconSize})
                      .blocks-single-block-name(style={'font-size': fontSize})= block.name
              else
                  .blocks-empty
      #blocks-location-2(ondrop="drop(event)", ondragover="allowDrop(event)")
      #blocks-location-3(ondrop="drop(event)", ondragover="allowDrop(event)")
      #blocks-location-4(ondrop="drop(event)", ondragover="allowDrop(event)")
      #blocks-location-5(ondrop="drop(event)", ondragover="allowDrop(event)")
      #blocks-location-6(ondrop="drop(event)", ondragover="allowDrop(event)")
      #blocks-location-7(ondrop="drop(event)", ondragover="allowDrop(event)")

    script(src="/javascripts/script.js")

  footer
    div(class='cheese-board', onclick='openInNewTab("https://github.com/asco88/cheese-board")')
      div(id='title')
        span='cheese-board'
      div(class='fas fa-cheese', id='cheese-btn')

