html
  head
    style
        include ../public/stylesheets/style.css
    title= title
  body
    div(class='top-bar')
      div(class='right-panel')
        div(class='fas fa-plus-square', id='new-block-btn')
    div(id='new-block-wrapper')
      div(id='new-block-main')
        div(id='title')
          h1="Add new block"
        div(id='body')
          textarea(id='new-block-text')
          input(type='text', id='new-block-link', placeholder='link')
        div(id='submit-btn')
          span="Add Block"
    div(class='blocks-main')
        each block in blocks
            div(class='blocks-single-block' style={
                    width: block.width,
                    height: block.height,
                    background: block.background,
                    border: block.border,
                    'box-shadow': block.boxshadow
                }, onclick=block.link)
                div(class='blocks-single-block-name')= block.name
                div(class='blocks-single-block-text')= block.text
                  //- div(class='fas fa-cloud')
                  img(class='blocks-single-block-icon' , src=block.icon)
        else
            div(class='blocks-empty')

    script(src='https://kit.fontawesome.com/615e2ad26d.js' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' crossorigin='anonymous')
    script(src="/javascripts/script.js")
