html
  head
    style
        include ../public/stylesheets/style.css
    title= title
  body(style={'background-image': bgUrl})
    div(class='top-bar')
      div(class='right-panel', style={color: theme})
        div(class='fas fa-pencil-alt', id='edit-btn', onclick='window.location.href="/editor"')
        div(class='fas fa-cog', id='settings-btn')
        div(class='fas fa-plus', id='new-block-btn')
    include new-block.pug
    include settings.pug
    include wallpapers.pug
    div(class='blocks-wrapper', style={top: blocksWrapperTop})
      div(class='blocks-main', style={'flex-direction': blocksWrapperDirection})
          each block in blocks
              div(class='blocks-single-block' style={
                      width: block.width,
                      background: block.background,
                      border: block.border,
                      'box-shadow': block.boxshadow,
                  })
                  div(class='blocks-single-block-text', onclick=block.link)= block.text
                    img(class='blocks-single-block-icon' , src=block.icon, style={width: iconSize})
                  div(class='blocks-single-block-name', style={'font-size': fontSize})= block.name
          else
              div(class='blocks-empty')

    script(src='https://kit.fontawesome.com/615e2ad26d.js' crossorigin='anonymous')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' crossorigin='anonymous')
    script(src="/javascripts/script.js")

  footer
    div(class='cheese-board', onclick='openInNewTab("https://github.com/asco88/cheese-board")')
      div(id='title')
        span='cheese-board'
      div(class='fas fa-cheese', id='cheese-btn')

