html
  head
    style
        include ../public/stylesheets/style.css
        include ../public/stylesheets/all.css
    title= title
  body(style={'background-image': bgUrl})
    div(class='top-bar')
      div(class='right-panel', style={color: theme})
        div(class='fas fa-pencil-alt', id='edit-btn', onclick='window.location.href="/editor"')
        div(class='fas fa-image', id='wallpapers-btn')
        div(class='fas fa-cog', id='settings-btn')
        div(class='fas fa-plus', id='new-block-btn')
    include new-block.pug
    include settings.pug
    include wallpapers.pug
    include icons.pug
    div(class='blocks-location-wrapper')
      #blocks-location-1
        div(class='blocks-wrapper', id='blocks-wrapper', style={top: blocksWrapperTop})
          div(class='blocks-main',  style={'flex-direction': blocksWrapperDirection})
              each block in blocks
                  div(class='blocks-single-block' style={
                          width: block.width,
                          background: block.background,
                          border: block.border,
                          'box-shadow': block.boxshadow,
                      })
                      div(class='blocks-single-block-text', onclick=block.link)= block.text
                        img(class='blocks-single-block-icon' , src=block.icon, style={width: iconSize})
                      div(class='blocks-single-block-name', style={'font-size': fontSize})= block.name
              else
                  div(class='blocks-empty')
      #blocks-location-2
      #blocks-location-3
      #blocks-location-4
      #blocks-location-5
      #blocks-location-6
      #blocks-location-7

    script(src="/javascripts/script.js")

  footer
    div(class='cheese-board', onclick='openInNewTab("https://github.com/asco88/cheese-board")')
      div(id='title')
        span='cheese-board'
      div(class='fas fa-cheese', id='cheese-btn')

