div(id='new-block-wrapper')
    div(id='new-block-main')
        div(id='title')
            h1="Add new block"
        div(id='body')
            div(class='new-block-row')
                span='Name:'
                input(type='text', id='new-block-text')
            div(class='new-block-row')
                span='Link:'
                input(type='text', id='new-block-link')
            div(class='new-block-row')
                span='Background:'
                input(type='text', id='new-block-transperent', value='true')
            div(class='new-block-row' onclick='getIcons()')
                span='Icon:'
                input(type='text', id='new-block-icon')
        div(id='footer')
            div(id='cancel-btn')
                span="Cancel"
            div(id='submit-btn')
                span="Create"