div(id='settings-wrapper')
    div(id='settings-main')
        div(id='title')
            h1="Settings"
        div(id='body')
            div(id='settings-chane-wallpaper-btn', onclick='openWallpaperChooser()')
                span='Change Wallpaper'
            input(type='text', id='settings-bg', value=bg)
            input(type='text', id='settings-theme', value=theme)
            input(type='text', id='settings-blocksWrapperTop', value=blocksWrapperTop)
            input(type='text', id='settings-blocksWrapperDirection', value=blocksWrapperDirection)
            input(type='text', id='settings-iconSize', value=iconSize)
            input(type='text', id='settings-fontSize', value=fontSize)
        div(id='footer')
            div(id='cancel-btn')
                span="Cancel"
            div(id='submit-btn')
                span="Save"