div(id='settings-wrapper')
    div(id='settings-main')
        div(id='title')
            h1="Settings"
        div(id='body')
            div(id='settings-chane-wallpaper-btn', onclick='openWallpaperChooser()')
                span='Change Wallpaper'
            div(class='new-block-row')
                span='Theme:'
                input(type='text', id='settings-theme', value=theme)
            div(class='new-block-row')
                span='Distance from top:'
                input(type='text', id='settings-blocksWrapperTop', value=blocksWrapperTop)
            div(class='new-block-row')
                span='Direction:'
                input(type='text', id='settings-blocksWrapperDirection', value=blocksWrapperDirection)
            div(class='new-block-row')
                span='Icon size:'
                input(type='text', id='settings-iconSize', value=iconSize)
            div(class='new-block-row')
                span='Font size:'
                input(type='text', id='settings-fontSize', value=fontSize)
        div(id='footer')
            div(id='cancel-btn')
                span="Cancel"
            div(id='submit-btn')
                span="Save"